<!DOCTYPE html>
<html>
	<head>
		<title> MHKS | start </title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="./css/main.css" />
		<link rel="stylesheet" type="text/css" href="./css/login.css" />

		<script>

			// takes in an object (should be an input form) and tries to submit
			function submitPassword(object){
				// if the input is empty, then don't do anything
				if(object.value.length == 0){
					submitPassWordFail(object);
				}
				else{
					console.log(object.value);
					var pword = object.value;
					$.ajax({type: "POST",
							url: "auth",
							data: {password: pword},
							success: function(response){
								alert(response);
							}
					});
				}
			}

			$(document).ready(function(){
				$("#password-input").keyup(function(event){
					if(event.keyCode == 13){
						submitPassword(this);
					}
					else if($(this).val().length > 0){
						$("#continue").animate({opacity: '1.0'}, 100);
					}
					else{
						$("#continue").animate({opacity: '0.0'}, 100);
					}
				})
			})
		</script>

	</head>

	<body>
		<div class="content">
			<h1>
				have a password?<br><br> 
			</h1>
			<div class="password-and-prompt">
				<h1>
					enter it here:
				</h1>
				<input class="password-input" id="password-input" type="password" autofocus/>
			</div>
			<div class="continue" id="continue">
				press enter to continue
			</div>
		</div>	
	</body>
</html>